.checkRow {
    display:flex;
    padding:90px 0 0 0;
}
.checkRow article {
    width:33.33%; 
    text-align:left;
    color:#fff;
}
.checkRow img {
    width:15px;
    display:inline-block;
    margin-right:5px;
}
@media(max-width:992px) {
    .checkRow {
        padding: 45px 0 0 0;
        flex-direction:column;
    }
    .checkRow article {
        width:100%;
        text-align:center;
        margin:0 0 10px 0;
    }
}
footer {
    display: flex;
	height: auto;
    line-height: 30px;
    font-size: 13px;
    background: #3f4347;
    color: #ffffff;
    clear: both;
    padding: 20px 0;
}
.disclaimer {
	font-size: 13px;
    color: #ffffff !important;
    line-height: 18px;
    margin-bottom: 0px;
    text-align: left !important;
    font-family:helvetica, arial, sans-serif;
    font-weight:100;
}
footer a {
	color:#fff;
}
footer img {
    margin-right:5px;
}
.icon_facebook {
    height:16px;
}
.icon_twitter {
    height:13px;
}
.icon_linkedin {
    height:15px;
}
.icon_google {
    height:13px;
}